.db-figure {
    height: 130px;
    max-height: 130px;

    img {
        padding: 8px;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        width: 100%;
        max-width: 150px;
        max-height: 100px;
    }

    figcaption {
        padding-bottom: 8px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}